<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password Change Notification</title>
</head>
<body>
  <div>
    <h2>Password Change Notification</h2>
    <p>Hello <strong>{{name}}</strong>,</p>
    <p>This is to notify you that your account password was changed.</p>
    <p>If you did not initiate this, please reset your password immediately.</p>
    <p>
      <a href="{{link}}" target="_blank">Reset Password</a>
    </p>
    <p>Best regards,<br><strong>Greenwood</strong> Team</p>
  </div>
</body>
</html>
