<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role Change Notification</title>
  </head>
  <body>
    <div>
      <h2>Greenwood</h2>
      <h2>Hello {{name}}</h2>
      <p>This is to notify you that your account role was changed.</p>
      <p>Please login for confirmation.</p>
      <a href="{{link}}">Login</a>
      <div>
        <p>Regards...</p>
        <p><b>Greenwood</b> Team</p>
      </div>
    </div>
  </body>
</html>