<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Code Email</title>
</head>
<body>
  <div>
    <h2>Greenwood</h2>
    <p>Hello <strong>{{name}}</strong>,</p>
    <p>Please use the 6-digit code below to log in to your account. This code is valid for 1 hour.</p>
    <b>{{link}}</b>
    <p>If you did not initiate this login, please reset your password immediately.</p>
    <div>
      <p>Regards,</p>
      <p><strong>Greenwood</strong> Team</p>
    </div>
  </div>
</body>
</html>
