<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Payment Transaction</title>
  </head>
  <body>
    <div>
      <div>
        <h2>Greenwood</h2>
      </div>
      <h2>Hello,</h2>
      <p>A new transaction has been created by {{name}}. You can view the details of this transaction by clicking the link below:</p>
      <p><a href="{{link}}">View Transaction Details</a></p>
      <p>Amount: ${{amount}}</p>
    </div>
  </body>
</html>
