<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Account Verification</title>
</head>
<body>
  <div>
    <h2>Account Verification</h2>
    <p>Hello <strong>{{name}}</strong>,</p>
    <p>We sincerely appreciate you choosing Greenwood as your partner on the path to financial growth and success.</p>
    <p>To help you get started, please use the URL below to verify your account. This will ensure your access to all of our valuable resources and tools, so you can begin building the wealth and future you deserve.</p>
    <p><strong>Please note that this link will remain active for the next 1 hour.</strong></p>
    <p>
      <a href="{{link}}">Verify Account</a>
    </p>
    <p>Best regards,<br><strong>Greenwood</strong> Team</p>
  </div>
</body>
</html>
