<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Withdrawal Approval</title>
</head>
<body>
  <div>
    <h2>Withdrawal Approval</h2>
    <p>Hello, <strong>{{name}}</strong></p>
    <p>Your withdrawal request has been approved! A total of <strong>${{amount}}</strong> has been sent to the following wallet address:</p>
    <p><strong>{{walletAddress}}</strong></p>
    <p>Thank you for using our service!</p>
    <p>Best regards,<br><strong>Greenwood</strong> Team</p>
  </div>
</body>
</html>
